import { Route } from 'react-router-dom'

/**
 * {{ domain_display_name }} domain routes.
 * TODO: Add your domain pages here.
 */
export function get{{ domain_class_name }}Routes() {
  return (
    <>
      {/* TODO: Add domain routes */}
      {/* Example: <Route path="my-page" element={<PageWithChat><MyPage /></PageWithChat>} /> */}
    </>
  )
}

export const {{ domain_name }}NavItems = [
  // TODO: Add navigation items for your domain pages
  // Example: { path: '/my-page', label: 'My Page', icon: 'Layout' },
]
