"""{{ domain_display_name }} business rules."""


def init_{{ domain_name }}_business_rules():
    """Initialize domain business rules.

    TODO: Add business rules using core.engine.rule_engine.
    """
    pass
