"""{{ domain_display_name }} domain action handlers."""


def register_{{ domain_name }}_actions(registry):
    """Register all {{ domain_name }} domain actions with the given ActionRegistry.

    TODO: Import and register your action modules here.
    Example:
        from app.{{ domain_name }}.actions import my_actions
        my_actions.register_my_actions(registry)
    """
    pass
