"""{{ domain_display_name }} domain API routers."""


def get_{{ domain_name }}_routers():
    """Return list of all {{ domain_name }} domain FastAPI routers.

    TODO: Import and return your router modules here.
    Example:
        from app.{{ domain_name }}.routers import my_router
        return [my_router.router]
    """
    return []
