"""{{ domain_display_name }} domain business rules."""


def register_all_rules(rule_engine) -> None:
    """Register all {{ domain_name }} domain rules.

    TODO: Register business rules.
    """
    pass
